.btn-outline-success{
    border-color: #055160 !important;
}
.btn-outline-success{
    background-color: whitesmoke !important;
}
.btn-outline-success:hover{
    background-color: #055160 !important;
}

